body {
  margin: 0;
  padding: 0;
}

.container {
  height: 15vh;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(0, 255, 0);
  /* border: 2px solid black; */
  /* background-color: lightgreen; */
  /* justify-content: space-between; */
}

/* .nav-items{
    border: 2px solid black;
} */

.nav-items h1 span {
  color: blue;
}

.p:hover {
  cursor: pointer;
  background-color: white;
}

.p {
  padding: 1rem;
}

.new-menu-by-menu-button ul {
  margin: 0px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.new-menu-by-menu-button ul li {
  height: 40px;
  padding-top: 1.5rem;
  background-color: rgba(0, 255, 0, 0.3);
  border-top: 1px solid black;
  /* padding-left: 2rem; */
}

.new-menu-by-menu-button ul li:hover {
  background-color: white;
}

.new-menu-by-menu-button ul li:hover a {
  text-decoration-line: underline;
}

.new-menu-by-menu-button ul li a {
  color: black;
  text-decoration: none;
}

@media (max-width: 900px) {
  .nav-items {
    display: none;
  }
}

@media (max-width: 900px) {
  .menu {
    display: flex;
  }
}

@media (min-width: 900px) {
  .menu {
    display: none;
  }
}

.new-menu-by-menu-button {
  display: none;
}

#menu-button:checked ~ .new-menu-by-menu-button {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 0px;
}

#menu-button:checked ~ .new-menu-by-menu-button {
  @media (min-width: 900px) {
    display: none;
  }
}

@media (min-width: 900px) {
  .new-menu-by-menu-button {
    display: none;
  }
}

.aboutcontainer{
    display: flex;
    justify-content: end;
}

.about-us{
    position: absolute;
    right: 4rem;
    border: 2px solid black;
    padding: 0;
    width: 300px;
    display: none;
}

.about:hover .about-us{
    display: flex;
}

.about-us ul{
    padding: 0;
    list-style: none;
}

.about-us ul li{
    padding: 1rem 1rem 1rem 0;
}

.about-us ul li a{
    text-decoration: none;
}