*{
    margin: 0;
    padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
}

.footerCont {
  background-color: black;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;

}

.footerCont .item {
  background-color: red;
  height: 100px;
  width: 300px;
  border: 1px solid white;

}
