body{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 15vh 100vh 25vh;
}


header{
    background-color: grey;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/4;
}

aside{
    background-color: lightblue;
}

main{
    background-color: red;
}

article{
    background-color: lightblue;
}

footer{
    background: grey;
    grid-row: 3/4;
    grid-column: 1/4;
}

@media (max-width : 426px) {
    body{
        grid-template-rows: 15vh 100vh 15vh 15vh 25vh;
        grid-template-columns: 100%;
    }

    header{
        grid-column: 1/6;
        grid-row: 1/2;
    }

    main{
        grid-row: 2/3;
        grid-column: 1/6;
    }

    aside{
        grid-column: 1/6;
        grid-row: 3/4;
    }

    article{
        grid-row: 4/5;
        grid-column: 1/6;
    }

    footer{
        grid-row: 5/6;
        grid-column: 1/6;
    }

}
